body{
    background-color:whitesmoke;
    width: 1000px;
    margin: auto;
    overflow: scroll;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 18px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
ol{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
}

.cropped{
    width: 1000px;
    height: 400px;
    overflow: hidden;
}
.cropped img{
    margin: -500px 0px 0px -550px;
}

.cropped2{
    width: 1000px;
    height: 400px;
    overflow: hidden;
}
.cropped2 img{
    margin: -350px 0px 0px -00px;
}


.indholdsfortegnelse a.navlink1{
    font-family: Arial, Helvetica, sans-serif;
    color:green;
    text-decoration: dotted;
    padding: 5px;
    line-height: 1.5;
    font-size: 18px;
}
.indholdsfortegnelse a.navlink1:hover{
    color:#333
}
.indholdsfortegnelse a.navlink1:visited{
    color:rgba(77, 43, 43, 0.385);
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
th, td{
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

th{
    background-color: #333;
    color: #f2f2f2;
    padding: 10px;
}
tr:first-child th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 2px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 2px;
  }
 
tr:nth-child(even){
    background-color: #f2f2f2;
}

.table1{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;

}



.title{
color: rgba(255, 255, 255, 0.948);
background-color: #333;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font: 75px;
padding: 15px;
border-radius: 10px;
}
.title2{
    color: rgba(255, 255, 255, 0.948);
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font: 75px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
.undertitel{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color:rgba(255, 255, 255, 0.948);
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

.tableOverskrift{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight:lighter;
    text-align: center;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.topnav2 a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.topnav2{
    background-color: #333;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.introtext{
    font-family: Arial, Helvetica, sans-serif;

}

.lilleoverskrift{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight:400;
    line-height: 2px;
}

.liste1{
    font-family: Arial, Helvetica, sans-serif;
}


.overlimit{
    color: crimson;
}
.underlimit{
    color: green;
}
.footnote{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-style: italic;
}
