body{
    background-color:azure;
}

.title{
color: rgb(175, 175, 175);
background-color: grey;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font: 50px;
}

.topnav{
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introtext{
    font-family: Arial, Helvetica, sans-serif;

}

.lilleoverskrift{
    font-family: Arial, Helvetica, sans-serif;
}

.liste1{
    font-family: Arial, Helvetica, sans-serif;
}

.table1{
    font-family: Arial, Helvetica, sans-serif;
}
.tableOverskrift{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    font-weight: bold;
}
.overlimit{
    color: crimson;
}
.underlimit{
    color: green;
}
.footnote{
    font-family: Arial, Helvetica, sans-serif;
}
.undertitel{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    overflow: hidden;
}