body{
    background-color:azure;
}

.title{
color: aqua;
background-color: grey;
}

.introtext{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}